@font-face {
  font-family: Roboto; /* Имя шрифта */
  src: url("~@/assets/fonts/Roboto/Roboto-Regular.ttf"); /* Путь к файлу со шрифтом */
}
body {
  font-family: "Roboto", sans-serif;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 3rem;
}
