// COLOR
$color-primary: #0ec261;
$color-primary-dark: #039f67;
$color-black: #121212;
$color-black-side: #151b1f;
$color-grey: #999999;
$color-light-grey: #eeeeee;
$color-black-dark: #111518;

$color-btn-slide-1: #13493f;
$color-btn-slide-2: #0c7b1b;

$color-white: #fff;

// Break points
$layout-breakpoint-desktop-min: 1439px;
$layout-breakpoint-tablet: 1023px;
$layout-breakpoint-mobil: 767px;
