// COLOR
$color-primary: #0ec261;
$color-primary-dark: #039f67;
$color-black: #121212;
$color-black-side: #151b1f;
$color-grey: #999999;
$color-light-grey: #eeeeee;
$color-black-dark: #111518;
// Buttons slide
$color-btn-slide-first-primary: #13493f;
$color-btn-slide-first-secondary: #0c7b1b;

$color-btn-slide-second-primary: #132949;
$color-btn-slide-second-secondary: #0c7b67;

$color-btn-slide-third-primary: #493013;
$color-btn-slide-third-secondary: #7b0c3b;

$color-btn-slide-forth-primary: #281349;
$color-btn-slide-forth-secondary: #720c7b;

$color-white: #fff;

// Break points
$layout-breakpoint-desktop-min: 1439px;
$layout-breakpoint-tablet: 1023px;
$layout-breakpoint-mobil: 767px;
