.location {
  display: flex;
  justify-content: space-between;
  &-order {
    width: 32%;
    &__btn {
      margin-top: 3.2rem;
      .btn__order {
        width: 100%;
      }
    }
  }
  &-container {
    padding-top: 5rem;
    width: 68%;
    .form {
      font-size: 1.4rem;
      font-family: 'Roboto Light'; /* Имя шрифта */
      text-align: right;
      margin-bottom: 4.5rem;
      width: 28.5rem;

      &__label {
        margin-right: 0.5rem;
      }
      &__input {
        padding-left: 1rem;
        border: none;
        border-bottom: 1px solid $color-grey;
        font-family: 'Roboto Light'; /* Имя шрифта */
        font-size: 1.4rem;
        outline: none;
      }
      &-city {
        margin-bottom: 1.3rem;
        position: relative;
        &__autocomplete {
          padding: 0;
          margin: 0;
          border: 1px solid #eeeeee;
          min-height: 1em;
          max-height: 6em;
          overflow: auto;
          width: 19rem;
          margin-left: 9.6rem;
          transition: 0.2s all;
          &-result {
            list-style: none;
            text-align: left;
            padding: 4px 2px;
            cursor: pointer;
          }
          &-result:hover {
            background-color: $color-primary;
            color: $color-white;
          }
        }
      }
    }
    &-map {
      .map__title {
        font-size: 1.4rem;
        font-family: 'Roboto Light'; /* Имя шрифта */
        margin-bottom: 1.6rem;
      }
      .googleMap {
        width: 90%;
        height: 40rem;
      }
    }
  }
  &-order {
    text-align: right;
    padding-left: 3.2%;
    border-left: 1px solid $color-light-grey;
    padding-top: 5rem;
    &__title {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 2.6rem;
    }
    &-point {
      font-size: 1.4rem;
      font-family: 'Roboto Light'; /* Имя шрифта */
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 3.2rem;
      &__title {
        color: $color-black;
      }
      &__dots {
        color: $color-grey;
        height: 0;
        flex: 1 1 auto;
        border-bottom: 2px dotted;
        margin: 0 5px;
      }
      &-address {
        color: $color-grey;
        display: inline-flex;
        flex-wrap: wrap;
        width: 9rem;
        &__city {
          flex: 0 0 90%;
        }
      }
    }
    &-price {
      display: flex;
      font-size: 1.4rem;
      &__title {
        font-weight: 500;
        margin-right: 1rem;
      }
      &__range {
        font-weight: 400;
      }
    }
  }
}
