.btn {
  &:link {
    font-weight: 500;
    font-size: 1.8rem;
    color: $color-white;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem 0 1.1rem;
    min-width: 12rem;
    display: inline-block;
    border-radius: 0.8rem;
    background: linear-gradient(90deg, $color-primary, $color-primary-dark);
    background-blend-mode: darken;
    cursor: url('~@/assets/icons/Pointer.svg') 2 2, pointer;
  }
  &:visited {
    color: $color-white;
    background: linear-gradient(
      90deg,
      darken($color-primary, 10%),
      darken($color-primary-dark, 10%)
    );
  }

  &:hover {
    background: linear-gradient(
      90deg,
      darken($color-primary, 10%),
      darken($color-primary-dark, 10%)
    );
  }

  &:active {
    color: $color-white;
    background: linear-gradient(
      90deg,
      darken($color-primary, 20%),
      darken($color-primary-dark, 20%)
    );
  }

  &--disabled:link {
    background: $color-light-grey;
  }
  &__book {
    width: 25rem;
  }
  &__slide-first {
    width: 16.4rem;
    &:link {
      background: linear-gradient(
        90deg,
        $color-btn-slide-first-primary,
        $color-btn-slide-first-secondary
      );
    }
    &:visited {
      color: $color-white;
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-first-primary, 10%),
        darken($color-btn-slide-first-secondary, 10%)
      );
    }

    &:hover {
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-first-primary, 10%),
        darken($color-btn-slide-first-secondary, 10%)
      );
    }
    &:active {
      color: $color-white;
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-first-primary, 15%),
        darken($color-btn-slide-first-secondary, 15%)
      );
    }
  }
  &__slide-second {
    width: 16.4rem;
    &:link {
      background: linear-gradient(
        90deg,
        $color-btn-slide-second-primary,
        $color-btn-slide-second-secondary
      );
    }
    &:visited {
      color: $color-white;
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-second-primary, 10%),
        darken($color-btn-slide-second-secondary, 10%)
      );
    }

    &:hover {
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-second-primary, 10%),
        darken($color-btn-slide-second-secondary, 10%)
      );
    }
    &:active {
      color: $color-white;
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-second-primary, 15%),
        darken($color-btn-slide-second-secondary, 15%)
      );
    }
  }
  &__slide-third {
    width: 16.4rem;
    &:link {
      background: linear-gradient(
        90deg,
        $color-btn-slide-third-primary,
        $color-btn-slide-third-secondary
      );
    }
    &:visited {
      color: $color-white;
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-third-primary, 10%),
        darken($color-btn-slide-third-secondary, 10%)
      );
    }

    &:hover {
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-third-primary, 10%),
        darken($color-btn-slide-third-secondary, 10%)
      );
    }
    &:active {
      color: $color-white;
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-third-primary, 15%),
        darken($color-btn-slide-third-secondary, 15%)
      );
    }
  }
  &__slide-forth {
    width: 16.4rem;
    &:link {
      background: linear-gradient(
        90deg,
        $color-btn-slide-forth-primary,
        $color-btn-slide-forth-secondary
      );
    }
    &:visited {
      color: $color-white;
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-forth-primary, 10%),
        darken($color-btn-slide-forth-secondary, 10%)
      );
    }

    &:hover {
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-forth-primary, 10%),
        darken($color-btn-slide-forth-secondary, 10%)
      );
    }
    &:active {
      color: $color-white;
      background: linear-gradient(
        90deg,
        darken($color-btn-slide-forth-primary, 15%),
        darken($color-btn-slide-forth-secondary, 15%)
      );
    }
  }
}
.menu-btn {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  &-burger {
    height: 2rem;
    margin-top: 3.5rem;
    cursor: url('~@/assets/icons/Pointer.svg') 2 2, pointer;
  }
}

.language-btn {
  &:link,
  &:visited {
    color: $color-primary;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1.6rem 1.2rem;
    cursor: url('~@/assets/icons/Pointer.svg') 2 2, pointer;
    margin-bottom: 1.5rem;
  }
  &:hover {
    border: 1px solid $color-white;
    border-radius: 50%;
    color: $color-white;
  }
  &:active {
    color: $color-primary;
  }
}
